XML Schema/jardin.xsd

<?xml version="1.0" encoding="UTF-8"  ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="jardin">
		<xs:complexType>
			
				
				
			<xs:sequence>			
				<xs:element name="planta" minOccurs="0" maxOccurs="unbounded" >
					<xs:complexType>
							<xs:sequence>
								<xs:element name="nombre" type="xs:string" />
								<xs:element name="tipo" type="xs:string" minOccurs="0" />
							</xs:sequence>
							<xs:attribute name="id" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="propietario" type="xs:string" />
				
		</xs:complexType>
	</xs:element>
</xs:schema>