XML Schema/Juguete.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="juguete">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nombre" type="xs:string"/>
				<xs:element name="marca" type="xs:string"/>
				<xs:element name="precio" type="xs:double"/>
				<xs:element name="categoria" type="xs:string"/>
				<xs:element name="edadMinima" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>